<div class="container-fluid d-flex justify-content-center align-items-center bg-dark vh-100 p-0">
  <div class="row border bg-light">
     <div class="d-flex flex-column col-12 px-5 py-5">
       <form class="d-flex flex-column" #loginForm="ngForm" (submit)="submit()">
         <h2 class="mb-4">Gamma Academy Challenge</h2>
         <p>Login*:</p>
         <input type="text" id="userName" ngModel name="userName" minlength="4" #userProd="ngModel" required [(ngModel)]="userName" />
         <small *ngIf="!userProd.valid && loginForm.submitted" class="text-danger">Email é obrigatório!</small>
         <p class="mt-3">Senha*:</p>
         <input type="password" id="password" ngModel name="password" minlength="4" #passProd="ngModel" required [(ngModel)]="password" />
         <small *ngIf="!passProd.valid && loginForm.submitted" class="text-danger">Senha é obrigatória!</small>
         <a class="text-dark mt-3" [routerLink]="['/register']">Não possui cadastro ainda? Clique Aqui.</a>
         <button type="submit" class="mt-4 btn btn-success col-3 align-self-end">Entrar</button>
       </form>
     </div>
  </div>
</div>
