<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
  <div class="row border">
     <div class="d-flex flex-column col-12 px-5 py-5">
       <h2 class="mb-4">Gamma Academy Challenge</h2>
       <p>Login:</p>
       <input class="mb-4" type="text" [(ngModel)]="userName" />
       <p>Senha:</p>
       <input class="mb-4" type="password" [(ngModel)]="password" />
       <button type="button" class="btn btn-success col-3" (click)="submit('testeinterno')">Confirmar</button>
       <p>{{userName}}</p>
     </div>
  </div>
</div>
