<div class="container-fluid d-flex justify-content-center align-items-center bg-dark min-vh-100 p-0">
  <div class="row border bg-light mt-5">
    <div *ngIf="!Role" class="d-flex flex-column col-12 px-5 pb-5 pt-5">
      <form class="d-flex flex-column" (submit)="submit()">
        <h1 class="mb-5">Selecione seu perfil</h1>
        <div class="d-flex justify-content-between">
          <button (click)="Role = 'ARTISTA'" type="submit" class="btn btn-success col-3">Artista</button>
          <button (click)="Role = 'PRODUTOR'" type="submit" class="btn btn-success col-3">Produtor</button>
        </div>
      </form>
    </div>
    <div *ngIf="Role === 'ARTISTA'" class="d-flex flex-column col-12 px-5 pb-5 pt-3">
      <form class="d-flex flex-column" #artistaForm="ngForm" (submit)="submit()">
        <h1 class="mb-5">Cadastro de Ator/Atriz</h1>
        <h3>Dados de acesso</h3>
        <p class="mt-4">Login*:</p>
        <input type="text" id="userName" ngModel name="userName" minlength="4" #userArt="ngModel" required [(ngModel)]="userName" />
        <small *ngIf="!userArt.valid && artistaForm.submitted" class="text-danger">Email é obrigatório!</small>
        <p class="mt-4">Senha*:</p>
        <input type="password" id="password" ngModel name="password" minlength="4" #passArt="ngModel" required [(ngModel)]="password" />
        <small *ngIf="!passArt.valid && artistaForm.submitted" class="text-danger">Senha é obrigatória!</small>
        <p class="mt-4">Confirmar Senha*:</p>
        <input type="password" id="confirmPassword" ngModel name="confirmPassword" minlength="4" #confirmArt="ngModel" required [(ngModel)]="confirmPassword" />
        <small *ngIf="!confirmArt.valid && artistaForm.submitted" class="text-danger">Confirmar a senha é obrigatório!</small>
        <small *ngIf="confirmPassword !== password && artistaForm.submitted" class="text-danger">Senhas não são iguais!</small>
        <h3 class="mt-4">Dados Pessoais</h3>
        <p class="mt-4">Nome*:</p>
        <input type="text" id="Nome" ngModel name="Nome" minlength="4" #nomeArt="ngModel" required [(ngModel)]="Nome" />
        <small *ngIf="!nomeArt.valid && artistaForm.submitted" class="text-danger">Nome é obrigatório!</small>
        <p class="mt-4">Idade*:</p>
        <input type="number" id="Idade" ngModel name="Idade" #idade="ngModel" min="0" max="110" required [(ngModel)]="Idade" />
        <small *ngIf="!idade.valid && artistaForm.submitted" class="text-danger">Idade é obrigatório!</small>
        <div class="mt-4">
          <p class="mb-0">Sexo*:</p>
          <div class="form-check">
            <input class="form-check-input" type="radio" [(ngModel)]="Sexo" name="masculino" id="masculino" value="masc">
            <label class="form-check-label" for="masculino">
              Masculino
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" [(ngModel)]="Sexo" name="feminino" id="feminino" value="fem">
            <label class="form-check-label" for="feminino">
              Feminino
            </label>
          </div>
        </div>
        <h3 class="mt-4">Dados Profissionais</h3>
        <p class="mt-4">Cache*:</p>
        <input type="number" id="Cache" ngModel name="Cache" #cache="ngModel" required [(ngModel)]="Cache" />
        <small *ngIf="!cache.valid && artistaForm.submitted" class="text-danger">Cache é obrigatório!</small>
        <!--<p>Generos:</p>
        <input class="mt-4" type="text" required [(ngModel)]="password" />-->
        <div class="d-flex justify-content-between mt-3">
          <button type="button" (click)="Role = ''" class="mt-4 btn btn-secondary col-3 align-self-end">Voltar</button>
          <button type="submit" class="mt-4 btn btn-success col-3 align-self-end">Registrar</button>
        </div>
      </form>
    </div>
    <div *ngIf="Role === 'PRODUTOR'" class="d-flex flex-column col-12 px-5 pb-5 pt-3">
      <form class="d-flex flex-column" #prodForm="ngForm" (submit)="submit()">
        <h1 class="mb-5">Cadastro do Produtor</h1>
        <p>Login*:</p>
        <input type="text" id="userName" ngModel name="userName" minlength="4" #userProd="ngModel" required [(ngModel)]="userName" />
        <small *ngIf="!userProd.valid && prodForm.submitted" class="text-danger">Email é obrigatório!</small>
        <p>Senha*:</p>
        <input type="password" id="password" ngModel name="password" minlength="4" #passProd="ngModel" required [(ngModel)]="password" />
        <small *ngIf="!passProd.valid && prodForm.submitted" class="text-danger">Senha é obrigatória!</small>
        <p>Confirmar Senha*:</p>
        <input type="password" id="confirmPassword" ngModel name="confirmPassword" minlength="4" #confirmProd="ngModel" required [(ngModel)]="confirmPassword" />
        <small *ngIf="!confirmProd.valid && prodForm.submitted" class="text-danger">Confirmar a senha é obrigatório!</small>
        <small *ngIf="confirmPassword !== password && prodForm.submitted" class="text-danger">Senhas não são iguais!</small>
        <p>Nome:</p>
        <input type="text" id="Nome" ngModel name="Nome" minlength="4" #nomeProd="ngModel" required [(ngModel)]="Nome" />
        <small *ngIf="!nomeProd.valid && prodForm.submitted" class="text-danger">Nome é obrigatório!</small>
        <button type="submit" class="btn btn-success col-3 align-self-end">Registrar</button>
      </form>
    </div>
    </div>
  </div>
